<!DOCTYPE html>
<html>
    <head>
        <title>A-frame</title>
        <script src="https://aframe.io/releases/1.7.0/aframe.min.js"></script>
    </head>

    <body>
        <a-scene>
            <a-assets>
            <img id="classroom" src="svg/chairs-2181977_1280.jpg">
            <img id="frame" src="svg/frame-2487298_1280.png">
            <img id="book" src="svg/bookcases-1869616_1280.jpg">
            <img id="wood" src="svg/wood-1846849_1280.jpg">
            <img id="wood2" src="svg/wood-364694_1280.jpg">
            <img id="marble" src="svg/stone-2929205_1280.jpg">
            <img id="roof" src="svg/wood-72380_1280.jpg">
            <img id="wall" src="svg/white-1872242_1280.jpg">
            <a-asset-item id="castle" src="svg/scene.gltf"></a-asset-item>
            <a-asset-item id="chair" src="svg/Chair.glb"></a-asset-item>
            <a-asset-item id="board" src="svg/Message board.glb"></a-asset-item>
            <video id="webcam" playsinline></video>

            </a-assets>
            
            
            <a-plane rotation="-90 0 0"
                     width="100"
                     height="100"
                     src="#marble"
                     position="0 -8 0"
                     opacity="0.9">
            </a-plane>

            <a-plane position="0 4 -18"
                     width="60"
                     height="25"
                     color="#7b7d7d"
                     src="#wall">
                     <a-image
                              position="0 0 0.9"
                              src="#frame"
                              scale="17 17 17">
                            </a-image>
                     <a-plane position="0 0 0.5"
                              width="17"
                              height="17"
                              color="#000000"
                              opacity="1">
                    </a-plane>
                    <a-plane position="0 0 0.8"
                              width="17"
                              height="17"
                              color="#000000"
                              opacity="0.5">
                    </a-plane>
                    <!--board-->
                    <a-entity position="-20 -5 1" gltf-model="#board" scale="0.15 0.15 0.15" rotation="0 270 0"></a-entity>
            </a-plane>

            <!--avatar-->
            <a-box
                    position="0 2 24"
                    width="2"
                    height="2"
                    shadow material="src: #webcam">
                    <a-box
                            position="0 -3 0"
                            width="2"
                            height="4">
                    </a-box>
                    <a-box 
                            position="-2 -2 0"
                            width="2.5"
                            height="1.5"
                            rotation="0 0 15">
                    </a-box>
                    <a-box 
                            position="2 -2 0"
                            width="2.5"
                            height="1.5"
                            rotation="0 0 -15">
                    </a-box>
                    <a-box 
                            position="-1 -6.5 0"
                            width="1.5"
                            height="3.5">
                    </a-box>
                    <a-box 
                            position="1 -6.5 0"
                            width="1.5"
                            height="3.5">
                    </a-box>
            </a-box>
            <a-box
                    position="8 2 18"
                    width="2"
                    height="2"
                    shadow material="src: #webcam"
                    rotation="0 90 0">
                    <a-box
                            position="0 -3 0"
                            width="2"
                            height="4"
                            rotation="0 0 0">
                    </a-box>
                    <a-box 
                            position="-2 -2 0"
                            width="2.5"
                            height="1.5"
                            rotation="0 0 15">
                    </a-box>
                    <a-box 
                            position="2 -2 0"
                            width="2.5"
                            height="1.5"
                            rotation="0 0 -15">
                    </a-box>
                    <a-box 
                            position="-1 -6.5 0"
                            width="1.5"
                            height="3.5">
                    </a-box>
                    <a-box 
                            position="1 -6.5 0"
                            width="1.5"
                            height="3.5">
                    </a-box>
            </a-box>
            <a-box
                    position="-8 2 18"
                    width="2"
                    height="2"
                    shadow material="src: #webcam"
                    rotation="0 90 0">
                    <a-box
                            position="0 -3 0"
                            width="2"
                            height="4">
                    </a-box>
                    <a-box 
                            position="-2 -2 0"
                            width="2.5"
                            height="1.5"
                            rotation="0 0 15">
                    </a-box>
                    <a-box 
                            position="2 -2 0"
                            width="2.5"
                            height="1.5"
                            rotation="0 0 -15">
                    </a-box>
                    <a-box 
                            position="-1 -6.5 0"
                            width="1.5"
                            height="3.5">
                    </a-box>
                    <a-box 
                            position="1 -6.5 0"
                            width="1.5"
                            height="3.5">
                    </a-box>
            </a-box>


            <a-image
                    position="-30 4 -8"
                    width="10"
                    height="11"
                    src="#book"
                    scale="2 2 2"
                    rotation="0 90 0">
                  </a-image>
            <a-image
                    position="-30 4 12"
                    width="10"
                    height="11"
                    src="#book"
                    scale="2 2 2"
                    rotation="0 90 0">
                  </a-image>
            <a-image
                    position="-30 4 32"
                    width="10"
                    height="11"
                    src="#book"
                    scale="2 2 2"
                    rotation="0 90 0">
                  </a-image>
            <a-image
                    position="30 4 -8"
                    width="10"
                    height="11"
                    src="#book"
                    scale="2 2 2"
                    rotation="0 -90 0">
                  </a-image>
            <a-image
                    position="30 4 12"
                    width="10"
                    height="11"
                    src="#book"
                    scale="2 2 2"
                    rotation="0 -90 0">
                  </a-image>
            <a-image
                    position="30 4 32"
                    width="10"
                    height="11"
                    src="#book"
                    scale="2 2 2"
                    rotation="0 -90 0">
                  </a-image>
            <a-image
                    position="29.8 4 12"
                    width="30.5"
                    height="12"
                    src="#frame"
                    rotation="0 -90 0"
                    repeat="3"
                    scale="2 2 2">
                  </a-image>
            <a-image
                    position="-29.8 4 12"
                    width="30.5"
                    height="12"
                    src="#frame"
                    rotation="0 -90 0"
                    repeat="3"
                    scale="2 2 2">
                  </a-image>
             <a-box 
                position="0 -1.8 13" 
                width="10" 
                height="17"
                depth="" 
                opacity="1"
                src="#wood2"
                rotation="90 0 0"
                >
                <a-cylinder radius="0.5"
                            height="4"
                            rotation="-90 0 0"
                            position="-4 -7 2"></a-cylinder>
                 <a-cylinder radius="0.5"
                            height="4"
                            rotation="-90 0 0"
                            position="4 -7 2"></a-cylinder>
                <a-cylinder radius="0.5"
                            height="4"
                            rotation="-90 0 0"
                            position="4 7 2"></a-cylinder>
                <a-cylinder radius="0.5"
                            height="4"
                            rotation="-90 0 0"
                            position="-4 7 2"></a-cylinder>            
                </a-box>

                <a-plane  width="60"
                          height="60"
                          depth="15"
                          position="0 15.8 12"
                          color="silver"
                          rotation="90 0 0"
                          >
                </a-plane>

                <!--road-->
                <a-plane  position="0 -8  100"
                          rotation="-90 0 0"
                          color="black"
                          height="100"
                          width="10">
                </a-plane>

                <!--island-->
                <a-entity position="0 0 1000" gltf-model="#castle"></a-entity>  
                
                <!--chair-->
                <a-entity position="0 -7 28" gltf-model="#chair" scale="0.7 0.7 0.7" rotation="0 90 0"></a-entity>
                <a-entity position="12 -7 18" gltf-model="#chair" scale="0.7 0.7 0.7" rotation="0 180 0"></a-entity>
                <a-entity position="-12 -7 18" gltf-model="#chair" scale="0.7 0.7 0.7" rotation="0  0 0"></a-entity>


                <!--camera-->
                <a-entity position="0 0 100">
                <a-camera active="false"></a-camera>
                </a-entity>
        </a-scene>
    </body>
</html>

<script>
  // You can also set which camera to use (front/back/etc)
  // @SEE https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
  navigator.mediaDevices.getUserMedia({audio: false, video: true})
  .then(stream => {
    let $video = document.querySelector('video')
    $video.srcObject = stream
    $video.onloadedmetadata = () => {
      $video.play()
    }
  })
</script>

