{% extends 'test.html' %}

{% load static %}


{% block navbar %}
    <div class="navbar">
    <div class="brand-title">MMU VR Group</div>
    <div class="nav-links">
    <a href="{% url 'logout' %}" id="toggle-logout">Create Group</a>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <h2>Join Group</h2>
    <form method="POST" action="{% url 'join_group' %}">
        {% csrf_token %}
        <div class="form-group mb-3">
            <label for="join_code">Group Code</label>
            <input type="text" name="join_code" id="join_code" placeholder="Enter Group Code" required class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Join Group</button>
    </form>

    {% if error %}
        <div class="alert alert-danger mt-3">
            {{ error }}
        </div>
    {% endif %}
</div>
{% endblock %}